.header {
  background: linear-gradient(to left, #c07563, #d21bc0);
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}
