.footer {
  background-color: #34495e;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}
