.home {
  background: linear-gradient(to left, #63a3c0, #721869);
  color: #2c3e50;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.home h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home p {
  font-size: 1.2rem;
}
